@use "variables" as v;

@mixin ly_centered {
  max-width: v.$wi_blockMax;
  padding-right: v.$sp_2;
  padding-left: v.$sp_2;
  margin-right: auto;
  margin-left: auto;
}

@mixin bl_LyCol1($gap: 16px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin bl_CardChaild($padding: 16px 32px) {
  padding: $padding;
}

@mixin el_input {
  font-size: v.$fo_sizeLg;
  padding: 0.4em 0.4em;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  &:focus,
  &:hover {
    outline: 0;
    box-shadow: 0 0 0 2px v.$co_info inset;
  }
}
