// Color
$co_primary: rgb(63, 81, 181);
$co_secondary: rgb(76, 175, 80);
$co_accent: rgb(255, 235, 59);
$co_error: rgb(244, 67, 54);
$co_info: rgb(3, 169, 244);
$co_success: rgb(0, 150, 136);
$co_warning: rgb(255, 87, 34);
$co_lightGray: rgb(238, 238, 238);
$co_darkGray: rgb(158, 158, 158);
$co_fontBaseLight: rgb(33, 33, 33);
$co_fontBaseDark: rgb(250, 250, 250);
$co_fontLink: #0069ff;
$co_themeHoso: rgb(33, 150, 243);
$co_themekankyo: rgb(76, 175, 80);

// Font
$fo_sizeXs: 0.75rem;
$fo_sizeSm: 0.875rem;
$fo_sizeLg: 1.125rem;

// Spacing
$sp_1: 8px;
$sp_2: 16px;
$sp_3: 24px;
$sp_4: 32px;
$sp_5: 40px;
$sp_6: 48px;
$sp_7: 56px;
$sp_8: 64px;

// Wide
$wi_blockMax: 1230px;
$wi_breakpoint_xl: 1600px;
$wi_breakpoint_lg: 1280px;
$wi_breakpoint_md: 960px;
$wi_breakpoint_sm: 520px;
$wi_breakpoint_xs: 320px;
$wi_btnBase: 300px;

// Transition
$tr_speed: 0.25s;

// Line
$li_base: 1px solid $co_lightGray;

// Shadow
$sh_base: 0 3px 6px rgba(0, 0, 0, 0.16);
