// Color
$co_primary: #00bcd4;
$co_secondary: #4dd0e1;
$co_accent: #fdd835;
$co_error: #f44336;
$co_info: #2196f3;
$co_success: #4caf50;
$co_warning: #ff5722;
$co_lightGray: #f5f5f5;
$co_darkGray: #e0e0e0;
$co_fontBaseLight: #222;
$co_fontBaseDark: #fff;
$co_fontLink: #0069ff;

// Font
$fo_sizeXs: 0.75rem;
$fo_sizeSm: 0.875rem;
$fo_sizeLg: 1.125rem;

// Spacing
$sp_1: 8px;
$sp_2: 16px;
$sp_3: 24px;
$sp_4: 32px;
$sp_5: 40px;
$sp_6: 48px;
$sp_7: 56px;
$sp_8: 64px;

// Wide
$wi_blockMax: 1230px;
$wi_btnBase: 300px;

// Transition
$tr_speed: 0.25s;

// Line
$li_base: 1px solid $co_lightGray;

// Shadow
$sh_base: 0 3px 6px rgba(0, 0, 0, 0.16);
